{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/jsx-one-expression-per-line": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0
  },
  "plugins": ["cypress"],
  "extends": ["eslint:recommended", "airbnb", "prettier"],
  "env": {
    "jest": true,
    "cypress/globals": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
